<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.fourge.huddleup_frontend">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HuddleUpFrontend"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Ui.InvitePlayerActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.JoinCreateTeamActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.JoinTeamActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.GoogleAuthActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.CreateTeamActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>